
                  #input .inputs {
                    width: 80%;
                  }
                  #input .form-control-wrapper {
                    margin: 30px 0;
                  }
                  .form-control-wrapper{
                    padding-top:10px;
                    padding-bottom:10px;
                    margin-top:10px;
                    margin-bottom:10px;
                  }
                           .clear-30{
         clear: both;
         height:30px;
         }
.inputdemoErrors .inputErrorsApp {
  min-height: 48px; 

}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

/* Checked */
.btn-success.active:not(.btn-link):not(.btn-flat) {
background-color: #007DC3;
color:#fff;
}
.btn-success:hover:not(.btn-link):not(.btn-flat) {
background-color: #007DC3;
color:#fff;
}
/* Not Checked */
.btn-success:not(.btn-link):not(.btn-flat) {
background-color: rgba(15,15,15,0);
color: #000;
}


/* Checked */
.btn-warning.active:not(.btn-link):not(.btn-flat) {
background-color: #c0392b;
color:#fff;
}

.btn-warning:hover:not(.btn-link):not(.btn-flat) {
background-color: #c0392b;
color:#fff;
}

/* Not Checked */
.btn-warning:not(.btn-link):not(.btn-flat) {
background-color: rgba(15,15,15,0);
color: #000;
}

.alert-danger {
background-color: #D54E40;
}
/*#c0392b*/

.panel-default>.panel-heading {
background-color:#fff;
border-color:#fff;
padding-top:15px;
padding-bottom:15px;
}

.panel-group{
	margin-bottom:0px;

}

.logo{
	border:0px;
}
/*
a, a:hover, a:focus {
color: #007DC3;
}
*/
.btn-info {
color: #fff;
background-color: #007DC3;
border-color: #007DC3;
}

table > tbody > tr {
    border-top: 0;
}


ul.dropdown-menu{
	position:fixed;left:20% !important;
	margin-top:5%;
}

.hint{
	color:#000;
}
.invalid,.ng-invalid{
	color:#c0392b;
}
.form-control-wrapper .floating-label .invalid{
	color:#c0392b;
}
.control-label{
	color:black;
	font-weight: 400;
	font-size:15px;
}
.table > tbody > tr:first-child >th, .table > tbody > tr:first-child > td{
	border-top: none !important;
}
th{
color: black;
font-weight: 400;
font-size: 15px;
}
.btn-info:not(.btn-link):not(.btn-flat){
	color: #fff;
	background-color: #007DC3;
	border-color: #007DC3;
}